body {
  background-image: url(../images/background5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px;
  margin: 0px;
}

img {
  width: 420px;
  border: 20px solid #de6be5;
  border-radius: 220px;
  animation-name: colorshift;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-5px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}
/*
 * Adding the animation to our element
*/
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.banner {
  background-color: #0000ff;
  height: 115px;
  width: 540px;
  position: static;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-width: 7px;
  border-color: #ffdd00;
  border-style: groove;
}

h1 {
  font-family: 'kingthings_italiqueregular';
  color: red;
  font-size: 4.8em;
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

h1:hover {
  color: #fff;
  transition-property: color;
  transition-duration: .1s;
}

p {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size:1.6em;
  text-align: center;
}

p:hover {
  color: #000;
  transition-property: color;
  transition-duration: .1s;
}

.main {
  display: center;
  justify-content: center;
  align-items: flex-start;
  font-family: 'kingthings_italiqueregular';
  color: blue;
  height: 100vh;
  margin: auto;
  overflow: scroll;

}

.leftside {
  font-family: 'kingthings_calligraphica_liLt';
  font-weight: 10;
  font-size: .7em;
  color: black;
  height: 200vh;
  margin: auto;
}

#leftsidebar {
  width:70px;
  height:500px;
  float: left;
  margin-right: auto;
  margin-left: 60px;
  margin-top: 90px;
  background: rgba(12, 250, 19, 0.1);
  border: 1px solid #0000ff;
}

#wrapper {
  width: 200px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px;
  border: 2px solid #0000ff;
  background: #ffff;
  opacity: 0.3;
  overflow: scroll;

}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 60px;
  height: 300px;
}
